<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aqzscn.www.generator.mapper.BlogSeriesMapper">
  <resultMap id="BaseResultMap" type="com.aqzscn.www.generator.pojo.BlogSeries">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="auto_index" jdbcType="INTEGER" property="autoIndex" />
    <result column="abs" jdbcType="VARCHAR" property="abs" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="ignore_order" jdbcType="INTEGER" property="ignoreOrder" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, auto_index, abs, img, ignore_order
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_series
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from blog_series
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aqzscn.www.generator.pojo.BlogSeries">
    insert into blog_series (id, name, auto_index, 
      abs, img, ignore_order
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{autoIndex,jdbcType=INTEGER}, 
      #{abs,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, #{ignoreOrder,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aqzscn.www.generator.pojo.BlogSeries">
    insert into blog_series
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="autoIndex != null">
        auto_index,
      </if>
      <if test="abs != null">
        abs,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="ignoreOrder != null">
        ignore_order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="autoIndex != null">
        #{autoIndex,jdbcType=INTEGER},
      </if>
      <if test="abs != null">
        #{abs,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="ignoreOrder != null">
        #{ignoreOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aqzscn.www.generator.pojo.BlogSeries">
    update blog_series
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="autoIndex != null">
        auto_index = #{autoIndex,jdbcType=INTEGER},
      </if>
      <if test="abs != null">
        abs = #{abs,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="ignoreOrder != null">
        ignore_order = #{ignoreOrder,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aqzscn.www.generator.pojo.BlogSeries">
    update blog_series
    set name = #{name,jdbcType=VARCHAR},
      auto_index = #{autoIndex,jdbcType=INTEGER},
      abs = #{abs,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      ignore_order = #{ignoreOrder,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>