<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aqzscn.www.global.mapper.RoleMapper">
  <insert id="insert" parameterType="com.aqzscn.www.global.mapper.Role">
    insert into g_role (id, name, remark) values (#{id}, #{name}, #{remark})
  </insert>
    <select id="selectAll" resultType="com.aqzscn.www.global.mapper.Role">
      select id, name, remark from g_role
    </select>
</mapper>